@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background: #ffffff;
  color: #333;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: #e7e7e7;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.deleteIcon {
  fill: grey
}

.deleteIcon:hover {
  fill: orangered
}

.editIcon {
  fill: grey
}

.editIcon:hover {
  fill: cornflowerblue
}


