

.yellow {
  background-color: gray;
  overflow-y: scroll;
  height: 100vh;
}

.red {
  background-color: red;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-sanfona {

}

.react-sanfona-item-title {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  color: #333;
  padding: 5px;
  transition: background-color .3s;
}

.react-sanfona-item:first-child .react-sanfona-item-title {
  border-top: none;
}

.react-sanfona-item-expanded .react-sanfona-item-title {
  background-color: rgb(81, 88, 197);
  color: #fff;


}

.react-sanfona-item-body-wrapper {
  color: #666;
  position: relative;
}

.react-sanfona-item-body-wrapper:hover .tooltip {
  opacity: 1;
}
